{% ckan_extends %}

{% block extras %}
  {% if pkg_dict.custom_text %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Custom Text") }}</th>
      <td class="dataset-details">{{ pkg_dict.custom_text }}</td>
    </tr>
  {% endif %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Access Level") }}</th>
      <td class="dataset-details">{{ pkg_dict.accessLevel }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Rights") }}</th>
      <td class="dataset-details">{{ pkg_dict.rights }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Spatial") }}</th>
      <td class="dataset-details">{{ pkg_dict.spatial }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Temporal") }}</th>
      <td class="dataset-details">{{ pkg_dict.temporal }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Release Date") }}</th>
      <td class="dataset-details">{{ pkg_dict.issued }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Frequency") }}</th>
      <td class="dataset-details">{{ pkg_dict.accrualPeriodicity }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Data Standard") }}</th>
      <td class="dataset-details">{{ pkg_dict.conformsTo }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Data Dictionary URL") }}</th>
      <td class="dataset-details">{{ pkg_dict.describedBy }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Data Dictionary Type") }}</th>
      <td class="dataset-details">{{ pkg_dict.describedByType }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Collection") }}</th>
      <td class="dataset-details">{{ pkg_dict.isPartOf }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Language") }}</th>
      <td class="dataset-details">{{ pkg_dict.language }}</td>
    </tr>
	    <tr>
      <th scope="row" class="dataset-label">{{ _("Homepage URL") }}</th>
      <td class="dataset-details">{{ pkg_dict.landingPage }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Related Documents") }}</th>
      <td class="dataset-details">{{ pkg_dict.references }}</td>
    </tr>
{% endblock %}
