{% ckan_extends %}

{# You could remove 'free extras' from the package form like this, but we keep them for this example's tests.
  {% block custom_fields %}
  {% endblock %}
#}

{% block package_metadata_fields %}

  <div class="control-group">
    <label class="control-label" for="field-accessLevel">{{ _("Access Level") }}</label>
    <div class="controls">
	  <input type="text" name="accessLevel" value="{{ data.get('accessLevel', '') }}">
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="field-rights">{{ _("Rights") }}</label>
    <div class="controls">
	  <input type="text" name="rights" value="{{ data.get('rights', '') }}">
      </select>
    </div>
  </div>
 <div class="control-group">
    <label class="control-label" for="field-spatial">{{ _("Spatial") }}</label>
    <div class="controls">
	  <input type="text" name="spatial" value="{{ data.get('spatial', '') }}">
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="field-temporal">{{ _("Temporal") }}</label>
    <div class="controls">
	  <input type="text" name="temporal" value="{{ data.get('temporal', '') }}">
      </select>
    </div>
  </div>
<div class="control-group">
    <label class="control-label" for="field-issued">{{ _("Release Date") }}</label>
    <div class="controls">
	  <input type="text" name="issued" value="{{ data.get('issued', '') }}">
      </select>
    </div>
  </div>
<div class="control-group">
    <label class="control-label" for="field-accrualPeriodicity">{{ _("Frequency") }}</label>
    <div class="controls">
	  <input type="text" name="accrualPeriodicity" value="{{ data.get('accrualPeriodicity', '') }}">
      </select>
    </div>
  </div>
<div class="control-group">
    <label class="control-label" for="field-conformsTo">{{ _("Data Standard") }}</label>
    <div class="controls">
	  <input type="text" name="conformsTo" value="{{ data.get('conformsTo', '') }}">
      </select>
    </div>
  </div>
<div class="control-group">
    <label class="control-label" for="field-describedBy">{{ _("Data Dictionary URL") }}</label>
    <div class="controls">
	  <input type="text" name="describedBy" value="{{ data.get('describedBy', '') }}">
      </select>
    </div>
  </div>
<div class="control-group">
    <label class="control-label" for="field-describedByType">{{ _("Data Dictionary Type") }}</label>
    <div class="controls">
	  <input type="text" name="describedByType" value="{{ data.get('describedByType', '') }}">
      </select>
    </div>
  </div>
<div class="control-group">
    <label class="control-label" for="field-isPartOf">{{ _("Collection") }}</label>
    <div class="controls">
	  <input type="text" name="isPartOf" value="{{ data.get('isPartOf', '') }}">
      </select>
    </div>
  </div>
<div class="control-group">
    <label class="control-label" for="field-language">{{ _("Language") }}</label>
    <div class="controls">
	  <input type="text" name="language" value="{{ data.get('language', '') }}">
      </select>
    </div>
  </div>
<div class="control-group">
    <label class="control-label" for="field-landingPage">{{ _("Homepage URL") }}</label>
    <div class="controls">
	  <input type="text" name="landingPage" value="{{ data.get('landingPage', '') }}">
      </select>
    </div>
  </div>
<div class="control-group">
    <label class="control-label" for="field-references">{{ _("References") }}</label>
    <div class="controls">
	  <input type="text" name="references" value="{{ data.get('references', '') }}">
      </select>
    </div>
  </div>


  {{ super() }}

{% endblock %}